
body{
    background-image:url("bg.jpeg");
}
h1{
    font-size:400%;
    text-decoration-line: underline;
  text-decoration-style: wavy;
  
}
h2{
    font-size: 200%;
    color: red;
    text-decoration-line: underline;
  text-decoration-style: double;

}
p{
    font-weight: bold;
    font-style: italic;
    font-size: 150%;
    color:black;
    font-family:'Times New Roman', Times, serif;
    border-style: dashed;
    border-color: red;
    
}
h3{
    color: rgb(245, 58, 7);
    font-size: 200%;
}

a{
    font-size: 200%;
    font-weight: bold;
    
}